.c-image{
	display: flex;
	align-items: center;
	justify-content: center;

	&--border-radius{
		border-radius: 1em;
	}

	&__parallax{

		& .react-parallax-background-children{
			transform: translate3d(-50%, -180px, 0px);
		}

		&__content{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 3em 0;
		}
	}

	&__image{
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}


}
