@media only screen and (min-device-width: 480px)
                   and (max-device-width: 640px) {
  .text-container {
    font-size: 0.9em;
  }
}


@media only screen and (min-device-width: 640px){
	.text-container {
		font-size: 1.2em;
	}
}

.text-container{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 1em 1em 2em 1em;

	&__text{
		padding: 1em 2em;
		line-height: 1.2em;
		text-align: left;
		color: $brown;
		border-radius: 14px;

		strong{
			font-family: 'MADE Tommy Soft - Bold', sans-serif, Arial, Helvetica;
		}

		&--xxl{
			font-size: 4em;
		}

		&--xl{
			font-size: 2.5em;
		}

		&--lg{
			font-size: 2.3em;
		}

		&--md{
			font-size: 2em;
		}

		&--sm{
			font-size: 1.5em;
		}

		&--brown-dark{
			color: $brown-dark;
		}

		&--brown-light{
			color: $brown-light;
		}

		&--green{
			color: $green;
		}

		&--green-dark{
			color: $green-dark;
		}

		&--green-light{
			color: $green-light;
		}

		&--white{
			color: $white;
		}

		&--black{
			color: $black;
		}

		&--bg-brown-dark{
			background-color: $brown-dark;
		}

		&--bg-brown-light{
			background-color: $brown-light;
		}

		&--bg-green{
			background-color: $green;
		}

		&--bg-green-dark{
			background-color: $green-dark;
		}

		&--bg-green-light{
			background-color: $green-light;
		}

		&--bg-white{
			background-color: $white;
		}

		&--bg-black{
			background-color: $black;
		}

		&--justified{
			text-align: justify;
		}

		&--center{
			text-align: center;
		}

		&--right{
			text-align: right;
		}

	}
}
