

.title{
	font-size: 1.2em;
	font-family: 'MADE Tommy Soft - Regular', sans-serif, Arial, Helvetica;
	color: $brown;
	display: flex;
	width: 100%;

	&--margin{
		margin: 1em 0 0.5em 0;
	}

	&--centered{
		justify-content: center;
		align-items: center;
	}

	&--shadow{
		text-shadow: $black 2px 2px 8px;
	}

	&--xxl{
		font-size: 4em;
		font-family: 'MADE Tommy Soft - ExtraBold', sans-serif, Arial, Helvetica;
	}

	&--xl{
		font-size: 2.5em;
		font-family: 'MADE Tommy Soft - ExtraBold', sans-serif, Arial, Helvetica;
	}

	&--lg{
		font-size: 2.3em;
		font-family: 'MADE Tommy Soft - Bold', sans-serif, Arial, Helvetica;
	}

	&--md{
		font-size: 2em;
		font-family: 'MADE Tommy Soft - Medium', sans-serif, Arial, Helvetica;
	}

	&--sm{
		font-size: 1.5em;
		font-family: 'MADE Tommy Soft - Medium', sans-serif, Arial, Helvetica;
	}

	&--brown{
		color: $brown-dark;
	}

	&--green{
		color: $green-dark;
	}

	&--white{
		color: $white;
	}

	&--black{
		color: $black;
	}

}
