/* Settings: Variables */

/* Branding: The Roost */
$black:         #313133;
$green-dark:    #39393B;
$green:         #839B83;
$green-light:   #C6D6BB;
$brown-dark:    #462B30;
$brown:         #7F4F4F;
$brown-light:   #A17171;
$brown-w-light: #F9D0B2;
$white:         #f4f4f4;
$red:           #B6453D;
