.shop-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;

	&__display {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 1em;
	}
}
