.shop-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto;

	&__display {
		display:flex;
  	justify-content:space-evenly;
  	flex-wrap:wrap;
		gap: 1em;
	}
}
