/* Settings: Variables */
/* Branding: The Roost */
/* Import All Components */
.texto {
  background-color: #313133;
  font-family: color-emoji;
}

.lang-selector {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #462B30;
  min-width: 200px;
  margin-bottom: 2em;
  font-family: "MADE Tommy Soft - Bold", sans-serif, Arial, Helvetica;
}
.lang-selector__icon {
  margin-top: 0.2em;
  min-width: 1em;
}
.lang-selector__lang-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-with: 120px;
  max-width: 10%;
  padding: 0.5em 1em;
  background-color: #A17171;
  border-radius: 0 0 14px 14px;
  margin-right: 1em;
  font-size: 1.2em;
  font-weight: bolder;
  margin-left: 0.2em;
}
.lang-selector__lang-list__item {
  text-align: right;
  color: #f4f4f4;
  padding: 0.2em;
  color: #7F4F4F;
}
.lang-selector__lang-list__item:hover {
  cursor: pointer;
  color: #462B30;
}
.lang-selector__lang-list__item:active {
  color: #313133;
}

.title {
  font-size: 1.2em;
  font-family: "MADE Tommy Soft - Regular", sans-serif, Arial, Helvetica;
  color: #7F4F4F;
  display: flex;
  width: 100%;
}
.title--margin {
  margin: 1em 0 0.5em 0;
}
.title--centered {
  justify-content: center;
  align-items: center;
}
.title--shadow {
  text-shadow: #313133 2px 2px 8px;
}
.title--xxl {
  font-size: 4em;
  font-family: "MADE Tommy Soft - ExtraBold", sans-serif, Arial, Helvetica;
}
.title--xl {
  font-size: 2.5em;
  font-family: "MADE Tommy Soft - ExtraBold", sans-serif, Arial, Helvetica;
}
.title--lg {
  font-size: 2.3em;
  font-family: "MADE Tommy Soft - Bold", sans-serif, Arial, Helvetica;
}
.title--md {
  font-size: 2em;
  font-family: "MADE Tommy Soft - Medium", sans-serif, Arial, Helvetica;
}
.title--sm {
  font-size: 1.5em;
  font-family: "MADE Tommy Soft - Medium", sans-serif, Arial, Helvetica;
}
.title--brown {
  color: #462B30;
}
.title--green {
  color: #39393B;
}
.title--white {
  color: #f4f4f4;
}
.title--black {
  color: #313133;
}

.c-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-image--border-radius {
  border-radius: 1em;
}
.c-image__parallax img.react-parallax-bgimage {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
.c-image__parallax__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  width: 100%;
  padding: 1em 5em;
  background-color: #39393B;
  color: #839B83;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1em;
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__section--1 {
  grid-row: 1;
  grid-column: 1;
  grid-row-end: 1;
}
.footer__section--2 {
  grid-row: 1;
  grid-column: 2;
  grid-row-end: 1;
}
.footer__section--3 {
  grid-row: 1;
  grid-column: 3;
  grid-row-end: 1;
}
.footer__section--4 {
  grid-row: 1;
  grid-column: 4;
  grid-row-end: 1;
}
.footer__section--5 {
  grid-row: 1;
  grid-column: 5;
  grid-row-end: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}
.footer__section__content {
  display: flex;
  flex-direction: column;
}
.footer__section__content__item {
  color: #839B83;
  padding: 0.1em;
}
.footer__section__content__item:link {
  text-decoration: none;
}
.footer__section__content__item:hover {
  cursor: pointer;
}

.social-media {
  padding: 0.5em;
}
.social-media__icon {
  font-size: 1.5em;
}

.triangle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: -1.5em;
}
.triangle__icon {
  color: #39393B;
  font-size: 3.5em;
}

/* Import All Containers */
.header {
  background: #462B30;
  width: 100%;
  min-width: 370px;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
}
.header__menu {
  position: relative;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu__list {
  display: flex;
  width: 350px;
}
.header__menu__list-item {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.header__menu__list-item--active .header__menu__list-item-link__icon {
  transform: translateY(30px);
  color: #462B30;
}
.header__menu__list-item--active .header__menu__list-item-link__text {
  opacity: 1;
  transform: translateY(-20px);
}
.header__menu__list-item-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.header__menu__list-item-link__icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.8em;
  text-align: center;
  transition: 0.5s;
  color: #A17171;
}
.header__menu__list-item-link__text {
  position: absolute;
  color: #f4f4f4;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
}
.header__menu__list-item:nth-child(1).header__menu__list-item--active ~ .header__menu__list-indicator {
  transform: translateX(0px);
}
.header__menu__list-item:nth-child(2).header__menu__list-item--active ~ .header__menu__list-indicator {
  transform: translateX(70px);
}
.header__menu__list-item:nth-child(3).header__menu__list-item--active ~ .header__menu__list-indicator {
  transform: translateX(140px);
}
.header__menu__list-item:nth-child(4).header__menu__list-item--active ~ .header__menu__list-indicator {
  transform: translateX(210px);
}
.header__menu__list-item:nth-child(5).header__menu__list-item--active ~ .header__menu__list-indicator {
  transform: translateX(280px);
}
.header__menu__list:nth-child(1).active ~ .indicator-menu {
  transform: translateX(0px);
}
.header__menu__list-indicator {
  position: absolute;
  top: 35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f4f4f4;
  transition: 0.5s;
}
.header__menu__list-indicator::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -8px;
  width: 10px;
  height: 20px;
  border-bottom-right-radius: 80%;
  background-color: #462B30;
  box-shadow: 1px 10px 0 0 #f4f4f4;
}
.header__menu__list-indicator::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -7.7px;
  width: 11px;
  height: 22px;
  border-bottom-left-radius: 100%;
  background-color: #462B30;
  box-shadow: -1px 10px 0 0 #f4f4f4;
}

.productCard {
  min-width: 300px;
  width: 20%;
  min-height: 400px;
  border-radius: 2em;
  background: #A17171;
  color: #F9D0B2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
}
.productCard__image {
  width: 80%;
  height: 40%;
  min-width: 260px;
}
.productCard__image img {
  top: 0;
  border-radius: 1em 1em 0.25em 0.25em;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productCard__content {
  width: 80%;
  height: 30%;
  min-width: 260px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

.shop-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}
@font-face {
  font-family: "MADE Tommy Soft - Black";
  src: local("MADE Tommy Soft Black"), local("MADETommySoft-Black"), url("./assets/fonts/MADETommySoft-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - Light";
  src: local("MADE Tommy Soft Light"), local("MADETommySoft-Light"), url("./assets/fonts/MADETommySoft-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - ExtraBold";
  src: local("MADE Tommy Soft ExtraBold"), local("MADETommySoft-ExtraBold"), url("./assets/fonts/MADETommySoft-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - Thin";
  src: local("MADE Tommy Soft Thin"), local("MADETommySoft-Thin"), url("./assets/fonts/MADETommySoft-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - Medium";
  src: local("MADE Tommy Soft Medium"), local("MADETommySoft-Medium"), url("./assets/fonts/MADETommySoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - Regular";
  src: local("MADE Tommy Soft"), local("MADETommySoft"), url("./assets/fonts/MADETommySoft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MADE Tommy Soft - Bold";
  src: local("MADE Tommy Soft Bold"), local("MADETommySoft-Bold"), url("./assets/fonts/MADETommySoft-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*  GLOBAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #A17171;
  font-size: 16px;
  margin: 70px 0 0 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
  font-family: "MADE Tommy Soft - Light", sans-serif, Arial, Helvetica;
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
