@tailwind base;
@tailwind components;
@tailwind utilities;

@import "00_settings/00_settings";
@import "10_components/10_components";
@import "20_containers/20_containers";

@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

/*  GLOBAL PROPERTIES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
	color: $brown-light;
	font-size: 16px;
	margin: 110px 1em 1em;
	min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: $white;
}
