@import "00_settings/00_settings";
@import "10_components/10_components";
@import "20_containers/20_containers";


@font-face {
  font-family: "color-emoji";
  src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji");
}

@font-face {
	font-family: 'MADE Tommy Soft - Black';
	src: local('MADE Tommy Soft Black'), local('MADETommySoft-Black'),
			url('./assets/fonts/MADETommySoft-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - Light';
	src: local('MADE Tommy Soft Light'), local('MADETommySoft-Light'),
			url('./assets/fonts/MADETommySoft-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - ExtraBold';
	src: local('MADE Tommy Soft ExtraBold'), local('MADETommySoft-ExtraBold'),
			url('./assets/fonts/MADETommySoft-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - Thin';
	src: local('MADE Tommy Soft Thin'), local('MADETommySoft-Thin'),
			url('./assets/fonts/MADETommySoft-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - Medium';
	src: local('MADE Tommy Soft Medium'), local('MADETommySoft-Medium'),
			url('./assets/fonts/MADETommySoft-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - Regular';
	src: local('MADE Tommy Soft'), local('MADETommySoft'),
			url('./assets/fonts/MADETommySoft.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MADE Tommy Soft - Bold';
	src: local('MADE Tommy Soft Bold'), local('MADETommySoft-Bold'),
			url('./assets/fonts/MADETommySoft-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


/*  GLOBAL PROPERTIES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $brown-light;
	font-size: 16px;
	margin: 70px 0 0 0;
	min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background: $white;
	font-family: 'MADE Tommy Soft - Light', sans-serif, Arial, Helvetica;
	line-height: 1;
}

